<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bookStore.jaesa.dao.BookDao">

    <select id="selectOneBook" parameterType="int" resultType="Book">
        select *
        from book
        where bno = #{bno}
    </select>

    <select id="selectAllBook" resultType="Book">
        select *
        from book
    </select>

    <select id="selectAllBooksCnt" resultType="int">
        select count(*)
        from book
    </select>

    <insert id="insertBook" parameterType="Book">
        insert into book (btitle, bcontent, bwriter)
        values (#{btitle}, #{bcontent}, #{bwriter})
    </insert>

    <delete id="deleteBook" parameterType="int">
        delete from book
        where bno = #{bno}
    </delete>

    <update id="updateBook" parameterType="Book">
        update  book
        set     btitle = #{btitle},
                bcontent = #{bcontent},
                bupdate_date = now()
        where bno = #{bno}
    </update>


    <!-- User [unickname] 1 <=> N [bwriter] Book -->
    <!-- result는 select문이 실행될 때 출력할 컬럼 -->
        <!-- property == 객체 참조변수 명 -->
        <!-- column == DB 컬럼 명 -->
    <!-- 작성자로 검색 -->
    <!--<resultMap id="userMap" type="User" >
        &lt;!&ndash;<id property="unickname_id" column="UNICKNAME"/>&ndash;&gt;
        <result property="nickname" column="UNICKNAME" />
        <collection property="Book" resultMap="bookMap">
        </collection>
    </resultMap>

    <resultMap  id="bookMap" type="Book">
        <id property="no" column="BNO"/>
        <result property="title" column="BTITLE" />
        <result property="content" column="BCONTENT" />
        <result property="writer" column="BWRITER" />
    </resultMap>

    <select id="selectWriterJoin" resultMap="userMap">
        select u.unickname, b.bwriter, b.bno, b.btitle, b.bcontent
        from User u, Book b
        where true and u.unickname = 'daoTester' and b.bwriter = 'daoTester'
    </select>-->



</mapper>