<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bookStore.jaesa.dao.UserDao">

	<select id="selectOneUser" parameterType="int" resultType="User">
		select *
		from user
		where uno = #{uno}
	</select>
	
	<select id="selectAllUser" resultType="User">
		select *
		from user
		order by uregdate desc, uno desc
	</select>
	
	<select id="selectAllUsersCnt" resultType="int">
		select count(*)
		from user
	</select>
	
	<insert id="insertUser" parameterType="User">
		insert into user(uid, upwd, uname, unickname)
		values(#{uid}, #{upwd}, #{uname}, #{unickname})
	</insert>

	<delete id="deleteUser" parameterType="int">
		delete from user
		where uno = #{uno}
	</delete>
	
</mapper>